html{
    scroll-behavior: smooth;
}

div.block{
    width: 100%;
    height: calc(100% - 6rem);
    background-size:cover;
    background-image: url(image/background.jpg);
    background-position: center;
}

div.header{
    display: block;
    position: sticky;
    justify-content: space-evenly;
    top: 0%;
    width: 100%;
    background-color: #18374e69;
}

div.name{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}

div.menu{
    display: flex; 
    justify-content: space-evenly; /* elements are spread across the screen */
    padding: 1rem;

    background-size: cover;
    background-position: bottom;

    font-size: 1.5rem;
    color: white;
    align-items: center;

    font-family: Verdana, Tahoma, sans-serif;
}

div.menu a{
    text-decoration: none;
    color: white;
}

div.menu a:hover{
    color: #ffc400;
}


div.contact{
    display: flex; 
    justify-content: space-evenly;  
    padding: 1rem;

    background-color: #18374eaf;
    background-size: cover;
    background-position: center;

    font-size: 0.8rem;
    color: white;
    align-items: center;

    font-family: Verdana, Tahoma, sans-serif;
}

div.content{
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10rem;
    font-size: 1.2rem;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);

    font-family: sans-serif;
}

div.content h1{
    text-align: center;
    width: 100%;

    color: #1c6aa7; 
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
    font-family: sans-serif;
}

div.content h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

div.content ul>li{
    margin: 1rem;
}

div.content a{
    color: #1973b8;
    text-decoration: none;
}

div.content a:hover{
    text-decoration: wavy;
    color: #ffc918;
}

div.uparrow{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: transparent;
}

div.uparrow img{
    width: 3rem;
    height: 3rem;
}


@media screen and (max-aspect-ratio: 1){
    div.header{
        display: block;
    }

    div.name{
        width: 100%;
        padding: 0rem;
        padding-top: 1.2cqh;
        padding-bottom: 1.2cqh;
    }


    div.menu{
        width: 100%;
        padding: 0rem;
        padding-bottom: 1.2cqh;
    }

    div.content{
        margin-left: 5%;
        margin-right: 5%;
    }
}


